.content {
  display: block;
  position: relative;
}

.menu {
  padding: 15px;
}

.back {
  background: none;
  outline: none;
  border: none;
  display: inline-block;
  margin-top: 15px;
}

.header {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgb(78, 78, 78);
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.headerBold {
  font-weight: 700;
}

.quickLinksHeader {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.quickLinksContainer {
  margin-top: 100px;
}

.quickLinkItems {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
}
