.content {
  padding-top: 30vh; 
  display: block;
  position: relative;
}

.header {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgb(78, 78, 78);
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 15px;
}

.description {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #95989A;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.headerBold {
  font-weight: 700;
}

.quickLinksHeader {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.quickLinksContainer {
  margin-top: 80px;
}

.quickLinkItems {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
}
