.description {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #95989A;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.headerBold {
  
}
