.header {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0px !important;
}

.subheader {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: rgb(117, 117, 117);
}

.section {
  color: rgb(165, 165, 165);
}

.otherSectionsHeader {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.graphContainer {
  box-shadow: 0 16px 30px rgba(0,0,0,.1);
  border-radius: 10px;
}

.otherSectionsRow {
  padding-top: 50px;
}

.sectionsContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
}
