@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --box-shadow-base: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  --box-shadow-inactive:  0 1px 1px rgba(151, 151, 151, 0.11), 
  0 2px 2px rgba(151, 151, 151, 0.11), 
  0 4px 4px rgba(151, 151, 151, 0.11), 
  0 6px 8px rgba(151, 151, 151, 0.11),
  0 8px 16px rgba(151, 151, 151, 0.11);
  --box-shadow-active: 0 2px 1px rgba(151,151,151,0.09), 
  0 4px 2px rgba(151,151,151,0.09), 
  0 8px 4px rgba(151,151,151,0.09), 
  0 16px 8px rgba(151,151,151,0.09),
  0 32px 16px rgba(151,151,151,0.09);
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}
