.input input {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46) !important;
  border-radius: 20px !important;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.hint {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
