.footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  display: block;
  height: 60px;
}

.body {
  padding-bottom: 150px;
}

.container {
  min-height: 100%;
  position: relative;
}
