.item {
  padding-left: 20px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.item:hover {
  background-color: #fcfcfc;
}

.selected {
  border-right: 6px solid rgb(0, 116, 224) !important;
  box-shadow: inset -5px 0px 10px rgba(0, 0, 0, 0.05);
  background-color: #fcfcfc;
}

.loadingItem {
  padding-left: 20px;
  padding-top: 20px;
  border: none !important;
}

.pagination {
  margin-right: 10px !important;
}

.emptyContainer {
  padding: 30px;
}

.icon {
  font-size: 42px;
  width: 43px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

.error {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #a4a4a4;
  font-weight: 300;
}
